
#body{
    background-color: rgb(0, 0, 0);
}
.d{
    color: aliceblue;
    margin: 40px;
    padding: 20;
}
/*.m{
    justify-self:start;
  margin-left: auto;
    width: 400px;

}*/
p{
    margin: 40px;
}
/*.ameer{

margin: 10px;
padding: 30px;

}*/
.v{
    margin: 60px;
}
.q{
     padding: 30px;
    margin: 60px;
}
.h{
    margin: 60px;
}
.o{
    margin-right: 20px;
}
.kk{
    margin: 60px;
}
.vv{
    position: relative;
  
}
.vv::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
   
    
}
.vv video{
    width: 100%;
    

}
.vv .text{
     color: aliceblue;
     width: 100%;
     position: absolute;
     top: 50%;
     padding: 50px;
     transform: translateY(-100%);
    
     
}
.button{

    text-decoration: none;
    margin: 10px;
    height: 50px;
    display: flex;
    justify-content:start;
    text-align: left;
    align-items:start;
    font-size: 1.3em;
    font-weight: bolder;
    border: 2px;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    
}

.button :focus{
    color:chocolate;
    border: 2px solid rgb(232, 117, 2);
    box-shadow: 0px 0px 0px 1px rgb(232, 117, 2);
}
.ppp{

  text-align: start;
}
.imgs{

    margin: 20px;
}
